<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @art.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @art.author %>
</p>

<p>
  <strong>Date:</strong>
  <%= @art.date %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @art.genre %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @art.desc %>
</p>

<%= link_to 'Edit', edit_art_path(@art) %> |
<%= link_to 'Back', arts_path %>
